<template name="header">
  <header class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="{{pathFor 'home'}}">StudyHub</a>
      <div class="">
        {{#if currentUser}}
        <ul class="nav">
          
          {{#unless properPage}}
            <li class="{{activeRouteClass 'postSubmit'}}">
              <a href="{{pathFor 'postSubmit'}}">Create Study Group</a>
            </li>
            {{/unless}}
        </ul>
        {{#if properPage}}
          <ul class="nav" id='tabsGalore'>
            <li class='yoyo active' id='blackboardli' style="font-size:25px;"><a id='blackboardli' class="ion-compose" href="#whiteboard" data-toggle="tab"></a></li>
            <li class="yoyo" id='notepadli' style="font-size:25px;"><a id='notepadli' class="ion-android-note" href="#doc1" data-toggle="tab"></a></li>
            
            
            <li style="font-size:25px;"><a class="ion-android-add-contact" href="mailto:?subject=Inviting You To A Study Group&amp;body=Hi All,%0A%0AI'm organizing a study group session using StudyHub.%0A%0APlease join {{domain}}%0A%0AThanks,%0A"></a></li>
          </ul>
{{/if}}
                        {{/if}}
        <ul class="nav pull-right">
          <li class="yoyo" style="font-size:25px;"><a id="videoStart" href="" class="ion-ios7-videocam"></a></li>
          <li class="yoyo" style="font-size:25px;"><a id="chatStart" href="" class="ion-ios7-chatboxes"></a></li>
        </ul>

      </div>
    </div>
  </header>
</template>