<template name="postPage">
    <div class="tab-content" style='height:100%;width:100%;'>

      <!-- NotePad-->
  		<div class="tab-pane fade" id="doc1" style='height:500px;width:100%;'>.        
  			<div class="editor-container" style="height:inherit;width:inherit;">
        	{{> sharejsAce docid=this._id callback=config id="editor"}}
    		</div>
    	</div>

      <!-- Blackboard-->
  		<div class="tab-pane fade" id="whiteboard" style='position:relative;' >
          <input class='btn btn-info btn-small' style="position:fixed;top:50px;right:0px;z-index:2;" type="button" id='wipe' value='Clear Backboard'/>
          <canvas id="canvas" style="background:black;position:fixed;"></canvas>
  		</div>

      <div class="tab-pane fade in active" id="videoPage" style='height:100%;width:100%;position:fixed;background-image: url(https://www.kollaborate.io/gfx/canvas/bg/tweed.png);background-repeat:repeat' >
      
      <div id="videoForm" class="assemblage-video-wrapper" style=''>
        
        <div id="myVideo" style="display:none;width: 200px; height: 150px; overflow: hidden;margin:5px;">
          
        </div>
        <div id="assemblage-video-nostream" class="assemblage-video-form">
          <a id='imgVideo'>
            <img src="https://s3.amazonaws.com/collaborationapi/assets/vid0.png" alt="Toggle video and voice" title="Turn on video and voice">
          </a>
          <a id="imgAudio">
            <img src="https://s3.amazonaws.com/collaborationapi/assets/voice0.png"  alt="Toggle voice" title="Turn on only voice">
          </a>
        </div>
      </div>
    </div>
	</div>

  <div id="myOverVideo" style="position:fixed;bottom:0px;left:0px;z-index:100000;background-color: rgba(0,0,0,.2);-webkit-box-shadow: 0 0 1px;rgba(255,255,255,.2);border-radius: 5px;">
    <div id="myVideo" style='border-radius: 25px;cursor: move;'>
      
    </div>

  </div>

        <!-- Chat-->
    <div id="chatBoxYeah" style="width:200px; height: 300px;position: fixed;bottom: 10px;right: 10px;display:none;">
      {{> chatworks}}
    </div>
</template>